{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}{{ comment.post.title }} - Add Comment{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ comment.post.title }}"</h1>
    {% include 'BlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}